{% extends "base.html" %}


{% block styles %}
    <link href='../static/fullcalendar/main.css' rel='stylesheet' />
    <link href='../static/css/style_schedule.css' rel='stylesheet' />
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='fullcalendar/main.js')}}"></script>
    <script>

      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth'
        });
        calendar.render();
      });

    </script>{% endblock %}

    <script src="{{ url_for('static', filename='static/schedule.js')}}"></script>

{% block content %}
<div class="row">
  <div class="col-md-7 mt-5">
    <div id='calendar'></div>
  </div>
  <div class="col-md-5 mt-5">
    <div class="form-group col-md-12" style="margin-bottom:11px;">
      <h3 class="mt-1">
        <label for="overflow_exercises" class="">Exercises in Training</label>
      </h3>
      <div class="overflow-auto mt-1" id="overflow_exercises">

      </div>
    </div>
  </div>
</div>

{% endblock %}