{% extends "base.html" %}


{% block styles %}
    <link href='../static/fullcalendar/main.css' rel='stylesheet' />
    <link href='../static/css/style_schedule.css' rel='stylesheet' />
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='fullcalendar/main.js')}}"></script>
    <script>

      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth'
        });
        calendar.render();
      });

    </script>{% endblock %}

    <script src="{{ url_for('static', filename='static/schedule.js')}}"></script>

{% block content %}
<div class="row">
  <div class="col-md-5 mt-5">
      <div class="form-row" style="margin-bottom:11px; margin-top:3px;">
          <div class="col-md-6">
              <h3 >Training for</h3>
          </div>
          <div class="col-md-6">
              <select class="form-control" id="exampleSelect">
                  <option>John Doe (ID:2)</option>
              </select>
          </div>
    <!--      <h3 class="mt-1">-->
    <!--        <label for="overflow_exercises" class="">Exercises in Training</label>-->
    <!--      </h3>-->
          </div>

      <div class="overflow-auto mt-1" id="overflow_exercises">

      </div>
    </div>
    <div class="col-md-7 mt-5">
        <div id='calendar'></div>
    </div>
</div>

{% endblock %}